<?xml version="1.0"?>
<launch>
<!-- 
Args
-->

  <arg name="battery"   value="$(optenv TURTLEBOT_BATTERY /proc/acpi/battery/BAT0)"/>  <!-- /proc/acpi/battery/BAT0 --> 
  <arg name="gui" default="true"/>
  <arg name="debug" default="false"/>
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="headless" default="false"/>

<!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find map_simulation)/worlds/task0.world"/>
    <arg name="debug" value="$(arg debug)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="headless" value="$(arg headless)"/>
  </include>

	<!-- PR2 description for moveit -->
	<include file="$(find pr2_description)/robots/upload_pr2.launch" pass_all_args="false"/>
	<include file="$(find pr2_moveit_config)/launch/planning_context.launch">
		<arg name="load_robot_description" value="true"/>
	</include>

	<!-- Robots definition section -->
	<!-- <group ns="I">
		<param name="tf_prefix" value="I_tf"/>
		<include file="$(find map_simulation)/launch/pr2.launch">
			<arg name="init_pose" value="-x 6 -y 7.58 -z 0 -Y 1.57"/>
			<arg name="robot_name" value="I"/>
		</include>
		<include file="$(find pr2_moveit_config)/launch/move_group.launch"/>
	</group> -->

	<group ns="ag1">
		<param name="tf_prefix" value="ag1_tf"/>
		<include file="$(find map_simulation)/launch/pr2.launch">
			<arg name="init_pose" value="-x 2.05 -y 2.05 -z 0 -Y 3.14"/>
			<arg name="robot_name" value="ag1"/>
		</include>
		<include file="$(find pr2_moveit_config)/launch/move_group.launch"/>
	</group>
</launch>

